@font-face{
    font-family : "Aleo";
    src : url('./fonts/Aleo-Light.otf');
}
@font-face{
    font-family : "Aleo";
    font-style:italic;
    src : url('./fonts/Aleo-LightItalic.otf');
}
@font-face{
    font-family : "Aleo";
    font-weight:bold;
    src : url('./fonts/Aleo-Regular.otf');
}
@font-face{
    font-family : "Aleo";
    font-style:italic;
    font-weight:bold;
    src : url('./fonts/Aleo-RegularItalic.otf');
}

@font-face{
    font-family : "Lekton";
    src : url('/static/css/fonts/Lekton-Regular.ttf');
}
@font-face{
    font-family : "Lekton";
    font-style:italic;
    src : url('/static/css/fonts/Lekton-Italic.ttf');
}
@font-face{
    font-family : "Lekton";
    font-weight:bold;
    src : url('/static/css/fonts/Lekton-Bold.ttf');
}
@font-face{
    font-family : "Lekton";
    font-style:italic;
    font-weight:bold;
    src : url('/static/css/fonts/Lekton-BoldItalic.ttf');
}

html { padding:10px; }

body {
  border:0;
  background:rgb(41,41,41);
  font-family:'Lekton',monospace;
  font-size:14px;
  padding:10px;
  color:#ddd;
  line-height:1.35em;
  margin:0;
  padding:0;
}
