{% extends "base.html" %}
{% block content %}

    {% block script %}
    <!-- Jquery and UIkit base -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit/js/uikit.min.js') }}"></script>

    <!-- Codemirror and marked dependencies -->
    <script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/markdown/markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/addon/mode/overlay.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/gfm/gfm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/marked.js') }}"></script>

    <!-- HTML editor JavaScript -->
    <script src="{{ url_for('static', filename='js/uikit/js/components/htmleditor.js') }}"></script>
    {% endblock %}

    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="{{ url_for('books.add_part', book_id=book.id) }}" class="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.title, class="input text w70") }}
        {{ render_field(form.content, class="input text invisible") }}
        <textarea name="content" id="content" data-uk-htmleditor='{markdown:true}'>{{ part_content }}</textarea>
        <input type="submit" class="center txtcenter" value="{{ _('Save') }}" class="button green">
    </form>
{% endblock %}