{% extends "base.html" %}
{% block content %}

    <h2 class="txtcenter">{{ site_title }}</h2>

    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="{{ url_for('books.add_part', book_id=book.id) }}" class="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.title, class="input text line") }}
        {{ render_field(form.order, class="input text line") }}
        {{ render_field(form.content, class="input text invisible") }}
        <div id="epiceditor-container" class="autogrid2">
            <div id="epiceditor"></div>
            <div id="epiceditor-preview"></div>
        </div>
        <input type="submit" value="{{ _('Save') }}" class="button green">
    </form>
    <script src="{{ url_for('static', filename='js') }}/commands.js"></script>
    <script src="{{ url_for('static', filename='js') }}/toolbar.js"></script>
    {% include "editor.html" %}
{% endblock %}