{% extends "base.html" %}
{% block content %}

    <h2>{% trans %}Upload a cover for the book {% endtrans %} "{{ book.title }}"</h2>

    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="{{ url_for('books.cover_add', book_id=book.id) }}" enctype="multipart/form-data" class="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.cover, class="input text") }}
        <input type="submit" value="{% trans %}Upload the cover{% endtrans %}" class="button green">
    </form>
{% endblock %}