{% extends "base.html" %}
{% block content %}

    {% block script %}
    <!-- Jquery and UIkit base -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uikit/js/uikit.min.js') }}"></script>

    <!-- Codemirror and marked dependencies -->
    <script src="{{ url_for('static', filename='js/codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/markdown/markdown.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/addon/mode/overlay.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/xml/xml.js') }}"></script>
    <script src="{{ url_for('static', filename='js/codemirror/mode/gfm/gfm.js') }}"></script>
    <script src="{{ url_for('static', filename='js/marked.js') }}"></script>

    <!-- HTML editor JavaScript -->
    <script src="{{ url_for('static', filename='js/uikit/js/components/htmleditor.js') }}"></script>
    {% endblock %}

    {% from "forms/macros.html" import render_field %}
    {% if parts %}
        <h4>{{ _("Parts list :") }}</h4>
        <ul>
          {% for part in parts %}
            <li>{{ part.title }} - {{ part.content|truncate(30) }} -
                <a href="{{ url_for('books.edit_part', part_id=part.id, book_id=book.id) }}">
                    {{ _("Edit") }}
                </a> -
                <a href="{{ url_for('books.export_part', book_id=book.id, part_id=part.id, export_format='epub') }}">
                    {{ _("Export Epub") }}
                </a> -
                <a href="{{ url_for('books.del_part', part_id=part.id, book_id=book.id) }}">
                    {{ _("Delete") }}
                </a>
            </li>
          {% endfor %}
        </ul>
        <h4>{{ _("Not enough parts ? Are you sad ? ") }}</h4>
        <p class="bigger">
            <a href="{{ url_for('books.add_part', book_id=book.id) }}">
                {{ _("Then add some parts !") }}
            </a>
        </p>
    {% endif %}
    <form method="POST" action="{{ url_for('books.edit_part', part_id=part.id, book_id=book.id) }}" class="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.title, class="input text line w70") }}
        <textarea name="content" id="content" data-uk-htmleditor="{markdown:true}">{{ part_content }}</textarea>
        <div class="w100 center txtcenter">
            <input type="submit" value="{{ _('Save') }}" class="butto">
        </div>
    </form>
{% endblock %}