{% extends "base.html" %}
{% block content %}
  {% from "forms/macros.html" import render_field %}
  <div class="center w60">
      <form method="POST" action="{{ url_for('books.edit', book_id=book.id) }}" enctype="multipart/form-data" class="form">
        {{ form.hidden_tag() }}
        {{ render_field(form.title, class="input text w60") }}
        {{ render_field(form.subtitle, class="input text w60") }}
        {{ render_field(form.displayed_name, class="input text w60") }}
        {{ render_field(form.style, class="input text w60") }}
        {{ render_field(form.language, class="input text w60") }}
        {{ render_field(form.rights, class="input text w60") }}
        {{ render_field(form.editor, class="input text w60") }}
        {{ render_field(form.publisher, class="input text w60") }}
        <input type="submit" value="{{ _('Save') }}" class="button green">
      </form>
  </div>
{% endblock %}