{% extends "base.html" %}
{% block content %}
<h2>
    {% trans %}Export {{ export_format }} of the part {% endtrans %}"{{ part.title }}"
    {% trans %} of your book {% endtrans %}"{{ book.title }}"
</h2>

<blockquote>{{ output }}</blockquote>

{% if export_done %}
    <p>{% trans %}Export done : {% endtrans %}
        <a href="{{ url_for('books.get_part', export_format=export_format, book_id=book.id, part_id=part.id) }}">
            {% trans %}click here to get your part !{% endtrans %}
        </a>
        {% trans %}or {% endtrans %}
        <a href="{{ url_for('books.parts_list', book_id=book.id) }}">
            {% trans %}click here to get back to the parts of your book  !{% endtrans %}
        </a>
    <p>
{% else %}
    <p>{% trans %}Oops ! Export failed : {% endtrans %}
        <a href="{{ url_for('books.parts_list', book_id=book.id) }}">{% trans %}click here to get back to your parts' page !{% endtrans %}</a>
    </p>
{% endif %}

{% endblock %}