{% extends "base.html" %}
{% block content %}
<h2>
    {{ _("Export %(export_format)s of the part ", export_format=export_format) }}"{{ part.title }}"
    {{ _(" of your book ") }} {{ book.title }}"
</h2>

<blockquote>{{ output }}</blockquote>

{% if export_done %}
    <p>{{ _("Export done : ") }}
        <a href="{{ url_for('books.get_part', export_format=export_format, book_id=book.id, part_id=part.id) }}">
            {{ _("click here to get your part !") }}
        </a>
        {{ _("or ") }}
        <a href="{{ url_for('books.parts_list', book_id=book.id) }}">
            {{ _("click here to get back to the parts of your book  !") }}
        </a>
    <p>
{% else %}
    <p>{{ _("Oops ! Export failed : ") }}
        <a href="{{ url_for('books.parts_list', book_id=book.id) }}">
            {{ _("click here to get back to your parts' page !") }}
        </a>
    </p>
{% endif %}

{% endblock %}