{% extends "base.html" %}
{% block content %}
<h2 class="txtcenter">
    {{ _("Your Books, %(user_name)s !", user_name = user.name) }}
</h2>
{% if books %}
    {% for book in books %}
    <div class="row bookelement">
        <h4 class="col w10">{{ book.title }}</h4>
        <div class="col w30 txtcenter cover">
            {% if book.cover %}
                <img src="{{ url_for('books.cover_get', book_id=book.id) }}" width="90px" alt="{{ book.title }}" />
                <br />
                <a class="icon icon-bracket2" href="{{ url_for('books.cover_delete', book_id=book.id) }}"
                >{{ _("Delete the cover for you book") }}
                </a>
            {% else %}
                <a class="icon icon-bracket2" href="{{ url_for('books.cover_add', book_id=book.id) }}"
                >{{ _("Add a cover for your book") }}
                </a>
            {% endif %}
        </div>
        <div class="col w20 bookactions">
            <ul>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.edit', book_id=book.id) }}"
                    >{{ _("Edit your book") }}
                    </a>
                </li>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.parts_list', book_id=book.id) }}"
                    >{{ _("Parts of your book") }}
                    </a>
                </li>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.delete', book_id=book.id) }}"
                    >{{ _("Delete") }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col w20 bookexports">
            <ul>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.export', book_id=book.id, export_format='epub') }}"
                    >{{ _("Export Epub") }}
                    </a>
                </li>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.export', book_id=book.id, export_format='epub3') }}"
                    >{{ _("Export Epub3") }}
                    </a>
                </li>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.export', book_id=book.id, export_format='markdown') }}"
                    >{{ _("Export Markdown") }}
                    </a>
                </li>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.export', book_id=book.id, export_format='docx') }}"
                    >{{ _("Export Word") }}
                    </a>
                </li>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.export', book_id=book.id, export_format='odt') }}"
                    >{{ _("Export LibreOffice") }}
                    </a>
                </li>
                <li class="row">
                    <a class="icon icon-bracket2" href="{{ url_for('books.export', book_id=book.id, export_format='html') }}"
                    >{{ _("Export HTML") }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col w20 booksinfo">
            <ul>
                <li class="row">
                    <em class="icon icon-bracket2">{{ _("Created the ") }}
                    {{ book.creation_date.strftime(' %d/%m/%Y  %H:%M') }}
                </em></li>
                <li class="row">
                    <em class="icon icon-bracket2">{{ _("Last modified at ") }}
                    {{ book.modified_at.strftime(' %d/%m/%Y  %H:%M') }}
                </em></li>
            <ul>
        </div>
    </div>
    {% endfor %}
    <p class="txtcenter">
        <a href="{{ url_for('books.add') }}">
            {{ _("Create another book ?") }}
        </a>
    </p>
{% else %}
    <p class="txtcenter">
        {{ _("Oops ! Seems you haven't wrote anything yet !") }}
    </p>
    <p class="txtcenter">
        <a href="{{ url_for('books.add') }}">
            {{ _("Create a book now !") }}
        </a>
    </p>
{% endif %}

{% endblock %}