{% extends "base.html" %}
{% block content %}
<h2>
    {% trans %}Your Books, {% endtrans %}{{ user.name }} !
</h2>
{% if books %}
<ul>
    {% for book in books %}
        <li>
            <a href="{{ url_for('books.edit', book_id=book.id) }}">{{ book.title }}</a> -
            <a href="{{ url_for('books.parts_list', book_id=book.id) }}">{% trans %}Parts list{% endtrans %}</a>  -
            <a href="{{ url_for('books.delete', book_id=book.id) }}">{% trans %}Delete{% endtrans %}</a> -
            {% trans %}Created the {% endtrans %}<em>{{ book.creation_date.strftime(' %d/%m/%Y  %H:%M') }}</em> -
            {% trans %}Last modified at {% endtrans %}<em>{{ book.modified_at.strftime(' %d/%m/%Y  %H:%M') }}</em>
        </li>
    {% endfor %}
</ul>
<p>
    <a href="{{ url_for('books.add') }}">
        {% trans %}Create another book ?{% endtrans %}
    </a>
</p>
{% else %}
    <p>
        {% trans %}Oops ! Seems you haven't wrote anything yet !{% endtrans %}
    </p>
    <p>
        <a href="{{ url_for('books.add') }}">
            {% trans %}Create a book now !{% endtrans %}
        </a>
    </p>
{% endif %}

{% endblock %}