{% extends "base.html" %}
{% block content %}
    {% from "forms/macros.html" import render_field %}

    <div class="center txtcenter w50">
        <form method="POST"
            action="{{ url_for('users.login', next=next) }}"
            class="form">
            <fieldset class="txtleft">
                {{ form.csrf_token }}
                {{ render_field(form.email, class="input text w80") }}
                {{ render_field(form.password, class="input text w80") }}
                <input type="submit" value="{{ _('Login') }}" class="button center txtcenter col">
            </fieldset>
        </form>

        <p>{{ _("You don't have an account yet ?") }}</p>
        <p><a href="{{ url_for('users.register') }}">{{ _("Register a new one !") }}</a></p>
    </div>
{% endblock %}