<script type="text/javascript">
    function epicload()
    {

        var text = [
            "{{ _("# Chapter 1 - Introducing Markdown in Downpub") }}",
            "",
            "{{ _("This is a demo text which contains *examples* on **how** to use ***Markdown*** syntax to format your book.") }}",
            "",
            "{{ _("## SubChapter 1 - Text Formatting, almost WYSIWYG") }}",
            "",
            "{{ _("In this section, we'll have a look at making text bold, italic and etc. If you haven't realised by now, there is a very simple toolbar presented above the editor. Try selecting text in this editor and press any one of those buttons.") }}",
            "",
            "{{ _("Item1") }}",
            "{{ _("Item2") }}",
            "{{ _("Item3") }}",
            "",
            "{{ _("### Example source code") }}",
            "",
            "```",
            "print('Holy code of doom and destruction')",
            "```",
            "",
            "{{ _("Take a peek at those buttons and see how they work !") }}"
        ].join('\n');

        var opts = {
            container: 'epiceditor',
            textarea: 'content',
            basePath: '{{ url_for('static', filename='js/epiceditor') }}',
            {% if not part %}
                clientSideStorage: false,
                localStorageName: 'book-{{book.id}}-new',
            {% else %}
                clientSideStorage: true,
                localStorageName: 'book-{{book.id}}-part-{{part.id}}',
            {% endif %}
            useNativeFullscreen: true,
            parser: marked,
            file: {
                {% if not part %}
                    name: 'book-{{book.id}}-newpart',
                {% else %}
                    name: 'book-{{book.id}}-part-{{part.id}}',
                {% endif %}
                defaultContent: text,
                autoSave: 100
            },
            theme: {
                base: '/themes/base/epiceditor.css',
                preview: '/themes/preview/github-downpub.css',
                editor: '/themes/editor/epic-dark.css'
            },
            button: {
                preview: false,
                fullscreen: true,
                bar: "auto"
            },
            focusOnLoad: false,
            string: {
                togglePreview: '{{ _("Toggle Preview Mode") }}',
                toggleEdit: '{{ _("Toggle Edit Mode") }}',
                toggleFullscreen: '{{ _("Enter Fullscreen") }}'
            },
            autogrow: true
        }


        var previewer;
        var editor = new EpicEditor(opts);
        var commands = window.DefaultCommands;
        var toolbar = new Toolbar('toolbar', editor, commands);
        editor.load();

        editor.on('update', function () {
            document.querySelector('#epiceditor-preview').innerHTML = this.exportFile(null, 'html');
        }).emit('update');

    }

    epicload();
</script>