        <script type="text/javascript">
            function epicload()
            {
                var opts = {
                    container: 'epiceditor',
                    textarea: content,
                    basePath: '{{ url_for('static', filename='js/epiceditor') }}',
                    {% if not part %}
                        clientSideStorage: false,
                        localStorageName: 'book-{{book.id}}-new',
                    {% else %}
                        clientSideStorage: true,
                        localStorageName: 'book-{{book.id}}-part-{{part.id}}',
                    {% endif %}
                    useNativeFullscreen: true,
                    parser: marked,
                    file: {
                        {% if not part %}
                            name: 'book-{{book.id}}-newpart',
                        {% else %}
                            name: 'book-{{book.id}}-part-{{part.id}}',
                        {% endif %}
                        defaultContent: '',
                        autoSave: 100
                    },
                    theme: {
                        base: '/themes/base/epiceditor.css',
                        preview: '/themes/preview/preview-dark.css',
                        editor: '/themes/editor/epic-dark.css'
                    },
                    button: {
                        preview: true,
                        fullscreen: true,
                        bar: "auto"
                    },
                    focusOnLoad: false,
                    shortcut: {
                        modifier: 18,
                        fullscreen: 70,
                        preview: 80
                    },
                    string: {
                        togglePreview: '{% trans %}Toggle Preview Mode{% endtrans %}',
                        toggleEdit: '{% trans %}Toggle Edit Mode{% endtrans %}',
                        toggleFullscreen: '{% trans %}Enter Fullscreen{% endtrans %}'
                    },
                    autogrow: {
                        minHeight: 450,
                        maxHeight: 450,
                    }
                }


                var previewer;
                var editor = new EpicEditor(opts).load(
                    function () {
                        previewer = this.getElement('previewer');

                        // Prettify JS
                        var scriptTag = previewer.createElement('script');
                        scriptTag.src = '{{ url_for('static', filename='js/prettify') }}/prettify.js';

                        // Prettify CSS
                        var cssTag = previewer.createElement('link');
                        cssTag.rel = 'stylesheet';
                        cssTag.type = 'text/css';
                        cssTag.href = '{{ url_for('static', filename='js/prettify') }}/prettify.css';

                        // Add JS / CSS
                        previewer.body.appendChild(scriptTag);
                        previewer.head.appendChild(cssTag);
                    }
                );

                editor.on('preview', function() {
                    // Add necessary classes to <code> elements
                    var previewerBody = previewer.body;
                    var div_epiceditor = document.getElementById('epiceditor-editor-frame');
                    body_prettify = div_epiceditor.contentDocument.getElementsByTagName('body')[0];
                    body_prettify.className = "prettyprint"

                    prettyPrint(null, previewerBody);
                });

                editor.on('update', function () {
                    document.querySelector('#epiceditor-apercu').innerHTML = this.exportFile(null, 'html');
                }).emit('update');

            }

            function update_textarea()
            {
                if (editor!==undefined)
                {
                    document.getElementById('content').value = editor.exportFile();
                }
            }
        </script>