        <script type="text/javascript">
            function epicload()
            {
                var opts = {
                    container: 'epiceditor',
                    textarea: 'content',
                    basePath: '{{ url_for('static', filename='js/epiceditor') }}',
                    {% if not part %}
                        clientSideStorage: false,
                        localStorageName: 'book-{{book.id}}-new',
                    {% else %}
                        clientSideStorage: true,
                        localStorageName: 'book-{{book.id}}-part-{{part.id}}',
                    {% endif %}
                    useNativeFullscreen: true,
                    parser: marked,
                    file: {
                        {% if not part %}
                            name: 'book-{{book.id}}-newpart',
                        {% else %}
                            name: 'book-{{book.id}}-part-{{part.id}}',
                        {% endif %}
                        defaultContent: '',
                        autoSave: 100
                    },
                    theme: {
                        base: '/themes/base/epiceditor.css',
                        preview: '/themes/preview/preview-dark.css',
                        editor: '/themes/editor/epic-dark.css'
                    },
                    button: {
                        preview: false,
                        fullscreen: false,
                        bar: "auto"
                    },
                    focusOnLoad: false,
                    autogrow: {
                        minHeight: 150,
                        maxHeight: 450,
                    }
                }


                var previewer;
                var editor = new EpicEditor(opts);
                editor.load();

                editor.on('update', function () {
                    document.querySelector('#epiceditor-preview').innerHTML = this.exportFile(null, 'html');
                }).emit('update');

            }
        </script>