    <footer id="footer" role="contentinfo" class="line w100 pan man txtcenter tiny-w100">
        <p class="man">
            {{ _("Made with the moral support of a cat named Poko by <a href=\"http://segle.org\">Segle</a> - © 2014.") }}
            {{ _("Grab the source on <a href=\"http://github.com/segle/downpub/\">Github</a>,") }}
            {{ _("inspired by the fantastic concept of <a href=\"http://editorially.com\">Editorially</a>.") }}
            {{ _("Version ")+ config.VERSION }}
        </p>
    </footer>