    <header id="header" role="banner" class="line pam txtcenter">
        <h1>Downpub - {{ site_title }} - {{ g.locale }}</h1>
        <nav id="navigation" role="navigation" class="txtcenter">
            <ul class="pam">
                <li class="pam"><a class="icon icon-bracket2" href="{{ url_for('index') }}">{% trans %}Home{% endtrans %}</a></li>
                {% if user.name %}
                    <li class="pam">
                        <a class="icon icon-bracket2"
                           href="{{ url_for('books.list') }}">{% trans %}Your books{% endtrans %}
                        </a>
                    </li>
                {% endif %}
                <li class="pam">
                    <a class="icon icon-bracket2" target="_blank"
                       href="http://github.com/segle/downpub/">{% trans %}Download DownPub{% endtrans %}
                    </a>
                </li>
            </ul>

            <ul class="pam">
                {% if not user.name %}
                <li class="pam">
                    <a class="icon icon-bracket2" href="{{ url_for('users.login') }}">{% trans %}Sign in{% endtrans %}</a>
                    {% trans %}or{% endtrans %} <a href="{{ url_for('users.register') }}">{% trans %}Sign up{% endtrans %}</a>
                </li>
                {% else %}
                    <li class="pam">
                        <span class="icon icon-bracket2">
                            {% trans %}Hi, {% endtrans %} {{ user.name }}
                        </span>
                    </li>
                    <li class="pam">
                        <a class="icon icon-bracket2"
                           href="{{ url_for('users.logout') }}">{% trans %}Log out{% endtrans %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>