    <header id="header" role="banner" class="row man pan txtcenter">
        <nav id="navigation" role="navigation" class="line">
        <div class="row">
            <div class="col w30 pan txtleft">
                <h1 class="pan txtleft">Downpub</h1>
            </div>

            <div class="col w30 pan txtcenter">
                <ul class="pan txtcenter">
                    <li><a class="icon icon-bracket2" href="{{ url_for('index') }}">{{ _("Home") }}</a></li>
                    <li><a class="icon icon-bracket2" target="_blank"
                       href="http://github.com/segle/downpub/">{{ _("Download DownPub") }}
                    </a></li>
                </ul>
            </div>

            <div class="col w40 pan">
                <ul class="pan txtright">
                {% if not user.name %}
                    <li><a class="icon icon-bracket2" href="{{ url_for('users.login') }}">{{ _("Sign in") }}</a></li>
                    {{ _("or") }}
                    <li><a href="{{ url_for('users.register') }}">{{ _("Sign up") }}</a></li>
                {% else %}
                    <li><a class="icon icon-bracket2"
                        href="{{ url_for('users.home') }}">{{ _("Hi, ") }} {{ user.name }}
                    </a></li>
                    <li><a class="icon icon-bracket2"
                               href="{{ url_for('books.list') }}">{{ _("Your books") }}
                    </a></li>
                    <li><a class="icon icon-bracket2"
                       href="{{ url_for('users.logout') }}">{{ _("Log out") }}
                    </a></li>
                {% endif %}
                </ul>
            </div>
        </div>
        </nav>
    </header>