<aside class="col w200p pan man center txtcenter">
    <header id="header" class="man pan">
        <nav id="navigation" role="navigation" class="line txtleft man pan">
            <h1 class="line man pan w100 txtcenter"><a href="{{ url_for('index') }}">Downpub</a></h1>

            <ul class="line man pan w100 txtleft">
                <li class="pan"><a class="man w100 inbl" href="{{ url_for('about') }}">{{ _("About")}}</a></li>
                <li class="pan"><a class="man w100 inbl" href="{{ url_for('help') }}">{{ _("Help")}}</a></li>
                {% if not user.name %}
                    <li class="pan">
                        <a class="man w100 inbl" href="{{ url_for('users.login') }}">{{ _("Sign in") }}</a>
                    </li>
                    <!-- <li class="pan">{{ _("or") }}</li>-->
                    <li class="pan">
                        <a class="man w100 inbl" href="{{ url_for('users.register') }}">{{ _("Sign up") }}</a>
                    </li>
                {% else %}
                    <li class="pan">
                        <a class="man w100 inbl" href="{{ url_for('users.home') }}">{{ _("Hi, ") }} {{ user.name }}</a>
                    </li>
                    <li class="pan">
                        <a class="man w100 inbl" href="{{ url_for('books.list') }}">{{ _("Your books") }}</a>
                    <li class="pan">
                        <a class="man w100 inbl" href="{{ url_for('users.logout') }}">{{ _("Log out") }}</a>
                    </li>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
</aside>