{% extends "base.html" %}
{% block content %}
    <h3>{{ _("Learn some Markdown ") }}</h3>

    <p>{{ _("I'll put here many tutorials, sorted by language. Don't hesitate, tell me where you learned Markdown and I'll add it here.") }}</p>

    <h4>{{ _("English") }}</h4>
    <ul>
        <li>
            <a href="http://markdowntutorial.com/">
                {{ _("An interactive tutorial to learn Markdown one step at a time.") }}
            </a>
        </li>
        <li>
            <a href="https://daringfireball.net/projects/markdown/basics">
                {{ _("The basics by one of the guys who created Markdown. Worth your read I think.") }}
            </a>
        </li>
        <li>
            <a href="https://help.github.com/articles/markdown-basics/">
                {{ _("Github's try to make you learn Markdown. They did a good job.") }}
            </a>
        </li>
        <li>
            <a href="http://mathewmitchell.net/tutorials/markdown/">
                {{ _("Text tutorial isn't enough, you want videos too ? That website got you covered !") }}
            </a>
        </li>
        <li>
            <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
                {{ _("Great cheatsheet for Markdown. Print it, keep it near, and you'll be fine !") }}
            </a>
        </li>
    </ul>

    <h4>{{ _("French") }}</h4>
    <ul>
        <li>
            <a href="http://www.urbanbike.com/index.php/site/apprendre-markdown-en-8-jours">
                {{ _("Great article from Urban bike to learn Markdown in 8 days !") }}
            </a>
        </li>
        <li>
            <a href="http://fr.openclassrooms.com/informatique/cours/redigez-en-markdown">
                {{ _("Illustrated tutorial, with examples") }}
            </a>
        </li>
    </ul>

    <h4>{{ _("German") }}</h4>
    <ul>
        <li>
            <a href="">
            </a>
        </li>
    </ul>

    <h4>{{ _("Spanish") }}</h4>
    <ul>
        <li>
            <a href="">
            </a>
        </li>
    </ul>

    <h4>{{ _("Portuguese") }}</h4>
    <ul>
        <li>
            <a href="">
            </a>
        </li>
    </ul>

{% endblock %}
