{% extends "base.html" %}
{% block content %}
    <h3>{{ _("The purpose of Downpub is simple :") }}</h3>
    <ul>
        <li>{{ _("You write books, in Markdown.") }}</li>
        <li>{{ _("You choose to write it in one part or many. ") }}</li>
        <li>{{ _("Splitting your work in one file per chapter allows you to edit one chapter at a time, for example.") }}</li>
        <li>{{ _("Once you have your(s) part(s) done, get the whole book or just one part in epub, markdown, HTML or Word.") }}</li>
    </ul>

    <h3>{{ _("How do I do ?") }}</h3>
    <ul>
        <li>
            {% autoescape false %}
            {{ _("You first need to %(register)s, then create a book in the \"%(your_books)s\" page.",
                register='<a href="%s">%s</a>' % (url_for('users.register'), _("register")),
                your_books='<a href="%s">%s</a>' % (url_for('books.list'), _("Your books"))
            ) }}
            {% endautoescape %}
        </li>
        <li>{{ _("Next, add at least one part, or many, depending on how you want to work !") }}</li>
        <li>{{ _("You can order parts with the order number, which is not very practical for now, but it will be fixed.") }}</li>
        <li>{{ _("There is default content to show you how markdown works, and buttons to help you with the syntax !") }}</li>
        <li>{{ _("Heading 1 creates a chapter title in the epub export, so use it accordingly.") }}</li>
        <li>{{ _("Part title is NOT included in the export, so you must add an heading 1 title yourself. That is to be able to customize the book's chapter title whatever the part's name.") }}</li>
        <li>{{ _("When you're done you just have to export the book using the links provided, in the format you want.") }}</li>

    </ul>

    <h3>{{ _("Markdown seems complicated !") }}</h3>

    <p>{{ _("You just need help ! ") }}<a href="{{ url_for('help') }}">{{ _("There you go !") }}</a></p>

    <h3>{{ _("Why would you choose DownPub ?") }} </h3>

    {% autoescape false %}
    <p>{{ _("Downpub is under the %(wtfpl_link)s licence so you can download it, share it, even sell it, whatever...", wtfpl_link='<a href="http://www.wtfpl.net/about/">WTFPL</a>') }}</p>
    {% endautoescape %}

    <p>{{ _("Only your conscience will fix the limits. You can install it on any computer, even if the installation process is a little raw for now.") }}</p>

    <p>{{ _("That's the beauty of it : do what the fuck you want with it.") }}</p>

    <p>{{ _("Kinda nice, isn't it ?") }}</p>
{% endblock %}
