{% extends "base.html" %}
{% block content %}
  <p>{% trans %}Bienvenue sur Downpub !{% endtrans %}</p>

  <p>{% trans %}Le principe est simple, c'est un outil où vous écrirez vos livres, en une ou plusieurs parties.

  Une fois que vous avez tous vos fichiers, vous pouvez exporter chaque partie en epub, markdown, HTML ou Word pour la relire ailleurs (et la récupérer chez vous).{% endtrans %}</p>

  <p>{% trans %}Pourquoi utiliser DownPub ? Car il est libre : et si je fournis ce service, vous pouvez très bien récupérer les sources (en langage python) et installer une copie où vous le souhaitez.{% endtrans %}</p>

  <p>{% trans %}Ainsi, vous ne dépendez pas de mon service, si un jour j'arrête cet hébergement ici vous pourrez très bien installer cette appli web sur votre ordinateur (par défaut).{% endtrans %}</p>

  <p>{% trans %}Plutôt chouette non ?{% endtrans %}</p>
{% endblock %}