{% extends "base.html" %}
{% block content %}
    <h2>{{ _("Welcome on Downpub !") }}</h2>

    <h3>{{ _("The purpose of Downpub is simple :") }}</h3>
    <ul>
        <li>{{ _("You write stuff in Markdown.") }}</li>
        <li>{{ _("You choose to write it in one part or many. ") }}</li>
        <li>{{ _("Splitting your work in one file per chapter allows you to edit one chapter at a time, for example.") }}</li>
        <li>{{ _("Once you have your(s) part(s) done, get the whole book or just one part in epub, markdown, HTML or Word.") }}</li>
    </ul>

    <h3>{{ _("Why would you choose DownPub ?") }} </h3>

    {% autoescape false %}
    <p>{{ _("Downpub is under the %(wtfpl_link)s licence so you can download it, share it, even sell it, whatever...",
    wtfpl_link='<a href="http://www.wtfpl.net/about/">WTFPL</a>') }}</p>
    {% endautoescape %}

    <p>{{ _("only your conscience will fix the limits. You can install it on any computer, even if the installation process "
    "is a little raw for now.") }}</p>

    <p>{{ _("That's the beauty of it : do what the fuck you want with it.") }}</p>

    <p>{{ _("Kinda nice, isn't it ?") }}</p>
{% endblock %}
