
/* ----------------------------- */

/* ==Downpub styles              */

/* ----------------------------- */


@font-face{
    font-family : "AndadaSC";
    src : url('./fonts/AndadaSC-Regular.otf');
}
@font-face{
    font-family : "AndadaSC";
    font-style:italic;
    src : url('./fonts/AndadaSC-Italic.otf');
}
@font-face{
    font-family : "AndadaSC";
    font-weight:bold;
    src : url('./fonts/AndadaSC-Bold.otf');
}
@font-face{
    font-family : "AndadaSC";
    font-style:italic;
    font-weight:bold;
    src : url('./fonts/AndadaSC-BoldItalic.otf');
}

@font-face{
    font-family : "Andada";
    src : url('./fonts/Andada-Regular.otf');
}
@font-face{
    font-family : "Andada";
    font-style:italic;
    src : url('./fonts/Andada-Italic.otf');
}
@font-face{
    font-family : "Andada";
    font-weight:bold;
    src : url('./fonts/Andada-Bold.otf');
}
@font-face{
    font-family : "Andada";
    font-style:italic;
    font-weight:bold;
    src : url('./fonts/Andada-BoldItalic.otf');
}

@font-face{
    font-family : "Lekton";
    src : url('./fonts/Lekton-Regular.ttf');
}
@font-face{
    font-family : "Lekton";
    font-style:italic;
    src : url('./fonts/Lekton-Italic.ttf');
}
@font-face{
    font-family : "Lekton";
    font-weight:bold;
    src : url('./fonts/Lekton-Bold.ttf');
}
@font-face{
    font-family : "Lekton";
    font-style:italic;
    font-weight:bold;
    src : url('./fonts/Lekton-Bold.ttf');
}

/*
    Style des éléments HTML de base
*/

html {
    background: #ddd;
}

body {
    font-family:"Andada", "Times New Roman", serif;
    background: #ddd;
}

a {
    color:chocolate;
}

a:hover {
    font-weight:bold;
}

h1,h2,h3,h4,h5,h6 {
    margin:0.4em;
    color:chocolate;
}

h1 {
    font-size:1.35em;
}

h2 {
    font-size:1.3em;
}

h3 {
    font-size:1.25em;
}

h4 {
    font-size:1.2em;
    padding:0.3em 0;
}

h5 {
    font-size:1.1em;
}

h6 {
    font-size:1em;
}

p {
    font-size:1em;
    margin:0.5em;
}

code, pre, blockquote {
    font-family:"Lekton";
    font-size:0.9em;
    padding:0.2em;
    margin:0.5em;
}

/*
    Style des infos d'erreur
*/

.message {
    display:block;
    background: #aaa;
    padding:0.4em;
    margin:0.2em;
    border: 1px solid chocolate;
    color: white;
}

.error {
    display:block;
    padding:0.4em;
    margin:0.2em;
    color: chocolate;
}

.no_error {
    display:inline-block;
    padding: 0.5em;
}

/*
    Style du layout
*/


#main {
    background: #ddd;
    margin:0;
    padding:0;
    margin-bottom:50px;
    margin-top:10px;
    color: black;
}

#header {
    top:0;
}

#header h2 {
    font-family:"AndadaSC", "Georgia", "Times New Roman", serif;
    background: #555;
    color: orange;
    margin:0;
    padding:0.2em;
    font-size:1em;
}

#navigation {
    background: #333;
    color: white;
}

#navigation *{
    background: #333;
    font-family:"AndadaSC", "Georgia", "Times New Roman", serif;
    margin: 0;
    padding: 0.1em;
    list-style-type: none;
}

#navigation h1 {
    color:orange;
    font-size:1.15em;
}

#navigation a {
    color:orange;
    font-size:1em;
}

#navigation a:hover {
    color:chocolate;
    text-decoration:none;
    font-weight:normal;
}

#footer {
    background: #333;
    color: white;
    position:fixed;
    bottom:0;
    z-index:1000;
    margin-top:1em;
    font-family:"AndadaSC", "Georgia", "Times New Roman", serif;
}

#footer a {
    color:orange;
}

#footer a:hover {
    color:chocolate;
    text-decoration:none;
    font-weight:normal;
}

#footer p {
    padding:0.1em 0;
}

/*
    Formulaires
*/

.invisible {
    display:none;
}

.form {
    background:#eee;
    border:1px solid darkgray;
    margin-bottom:1em;
    padding:0.4em;
}

.form.label {}

/*
    GUI layouts
*/

.bookelement{
    margin: 1em 0.4em;
    padding:0.8em;
    border:1px solid #999;
    background: #eee;
    color: #993D00;
}

.bookelement ul, .bookelement li, .bookelement ul li {
    color: #993D00;
}

.bookelement a,
.bookelement h1,
.bookelement h2,
.bookelement h3,
.bookelement h4{
    color: #993D00;
}

.bookelement h4{
    word-wrap: break-word;
}

/*
    EpicEditor editor and previewer
*/
#epiceditor-container {
    margin:0;
    width:99%;
}

div.uk-htmleditor-preview * {
    margin:0;
    padding:0;
    font-family:"Lekton", "Times New Roman", serif;
    color:black;
    font-style:normal;
    font-weight:normal;
}

div.uk-htmleditor-preview h1 {
    margin:0.1em;
    padding:0.3em 0;
    padding-top:0;
    font-size:xx-large;
    font-weight:bold;
}

div.uk-htmleditor-preview h2 {
    margin:0.2em;
    padding:0.3em 0;
    font-size:x-large;
    font-weight:bold;
}

div.uk-htmleditor-preview h3 {
    margin:0.2em;
    padding:0.3em 0;
    font-size:large;
    font-weight:bold;
}

div.uk-htmleditor-preview h4 {
    margin:0.2em;
    padding:0.3em 0;
    font-size:medium;
    font-weight:bold;
    font-style:italic;
}

div.uk-htmleditor-preview p {
    margin:0.3em;
    padding:0.3em 0;
    font-size:normal;
}

div.uk-htmleditor-preview strong {
    font-size:normal;
    font-weight:bold;
}

div.uk-htmleditor-preview em {
    font-size:normal;
    font-style:italic;
}

div.uk-htmleditor-preview strong em{
    font-size:normal;
    font-weight:bold;
    font-style:italic;
}

div.uk-htmleditor-preview ul, div.uk-htmleditor-preview ol {
    margin:0.3em 1.1em;
    padding:0.1em 1.1em;
    font-size:normal;
}

div.uk-htmleditor-preview pre, div.uk-htmleditor-preview blockquote {
    margin:0.4em 1em;
    padding:0.5em;
    font-size:normal;
    border:1px solid gray;
    background:#ddd;
    line-height:1.1em;
    font-family:"Lekton", monospace;
}

div.uk-htmleditor-preview code {
    display:inline-block;
    margin:0.4em 1em;
    padding:0.5em;
    background:#ddd;
    line-height:1.1em;
    font-family:"Lekton", monospace;
}

div.uk-htmleditor-preview th {
    font-weight:bold;
}

div.uk-htmleditor-preview
{
    padding:1em;
    //min-height:450px;
}

.CodeMirror *,.CodeMirror-code *
{
    font-family: "Lekton", monospace;
    font-size:1em;
}
